<h1>AITEC Wetterstation</h1>
<%= link_to 'Neue Messung', new_measurement_path %>
<%= line_chart [
		{ name: "Temperatur", 
		  data: Measurement.group_by_hour(:created_at).maximum(:temperature) 
		},
		{ name: "Feuchtigkeit", 
		  data: Measurement.group_by_hour(:created_at).maximum(:humidity) 
		},
		{ name: "Luftdruck", 
		  data: Measurement.group_by_hour(:created_at).maximum(:pressure) 
		},
	]
%>
<table class="table table-hover">
	<thead>
		<tr>
		 <th>Temperatur</th>
		 <th>Feuchtigkeit</th>
		 <th>Luftdruck</th>
		 <th>Datum</th>
		 <th></th>
		</tr>
 	</thead>
 
 	<tbody>
  	<% @measurements.each do |measurement| %>
    	<tr>
      	<td><%= measurement.temperature %></td>
      	<td><%= measurement.humidity %></td>
      	<td><%= measurement.pressure %></td>
      	<td><%= measurement.created_at.to_formatted_s(:db) %></td>
      	<td><%= link_to 'Löschen', measurement_path(measurement),
              method: :delete,
              data: { confirm: 'Möchtest du die Messung wirklich löschen?' } %></td>
   	</tr>
  	<% end %>
  	</tbody>
</table>
