<h1>New Measurment</h1>
<%= form_for :measurement, url: measurements_path do |f| %>
  <p>
    <%= f.label :temperature %><br>
    <%= f.text_field :temperature %>
  </p>
 
  <p>
    <%= f.label :humidity %><br>
    <%= f.text_field :humidity %> 
  <p>
    <%= f.label :pressure %><br>
    <%= f.text_field :pressure %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', measurements_path %>
