<h1>Neue Messung</h1>
<%= form_for :measurement, url: measurements_path do |f| %>
   <div class="form-group">
    <%= f.label :temperature, :Temperatur %><br>
    <%= f.text_field :temperature, class: "form-control", type: "number" %>
  </div>
 
  <div class="form-group">
    <%= f.label :humidity, :Feuchtigkeit %><br>
    <%= f.text_field :humidity, class: "form-control", type: "number" %>
  </div>
  
  <div class="form-group">
    <%= f.label :pressure, :Luftdruck %><br>
    <%= f.text_field :pressure, class: "form-control", type: "number" %>
  </div>
 
  <%= f.submit "Messung speichern", class: "btn btn-primary"%>
  <%= link_to "Zurück", { :controller => :application, :action => :index }, { class: "btn btn-default" } %>
 <% end %>

